.view-display-id-ca_sponsors_list_1 .views-field-field-ca-sponsors-image { float: left; padding-right: 10px; padding-bottom: 5px; }
.view-display-id-ca_sponsors_list_1 .views-field-nothing { clear: both; }
.view-display-id-ca_sponsors_contact_details .views-label { font-weight: bold; }